/* Footer */

.footer-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.column {
    padding: 1rem;

    h5 {
        text-align: center;
        color: #fff;
    }
}

a {
    text-decoration: none;
    color: #fff;
}

#brand-block h2, span {
    color: #fff;
}
