/* Main */

#main-title, 
.text-hero {
    text-align: center;
}

.card {
    max-width: 32rem;
}

.field {
    font-weight: 700;
    text-align: left;
}

#login-btn {
    width: 100%;
}

input::placeholder {
    font-size: 0.9rem;
}

#today {
    animation: changeColor 4s infinite;
}

@keyframes changeColor {
    0% {color: black;}
    50% {color: #6f42c1;}
    100% {color: black;}
    
  }

#buttons-group {
    align-items: center;
}

.img-main:hover {
    filter: opacity(0.5);
    transition: all 300ms ease;
}

